:root {
  font-size: calc(0.5em + 1vw);
}

body {
  margin: 0;
  font-family: "Copperplate", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #51a8e2;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

p {
  margin: 0;
  padding: 0;
}
